body,h1,h2,p,ul,li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.radio-group,
.checkbox-group {
    display: flex;
    align-items: center;
}

.radio-group input,
.checkbox-group input {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles for the Thank You page */
.thank-you-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.thank-you-h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.thank-you-p {
    font-size: 16px;
    color: #555;
    margin: 20px 0;
}

/* Media queries for mobile and tablet devices */
@media screen and (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    label,
    input,
    select,
    textarea {
        font-size: 14px;
    }

    input[type="submit"] {
        padding: 10px 16px;
    }

    .thank-you-container {
        margin: 20px;
        padding: 10px;
    }

    .thank-you-h2 {
        font-size: 24px;
    }

    .thank-you-p {
        font-size: 14px;
    }
}